---
import { getImage } from 'astro:assets'
import { type CollectionEntry, getCollection } from 'astro:content'
import ArrowLink, { DIRECTION } from '../../components/ArrowLink.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { READABLE_FORMAT, blogCompareFn, getImageURL } from '../../lib/utils'

export const getStaticPaths = async () =>
  (await getCollection('blog')).map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))

const entry = Astro.props.entry as CollectionEntry<'blog'>
const { Content, remarkPluginFrontmatter } = await entry.render()
const { title, publishedAt, keywords } = entry.data
const { readingTime } = remarkPluginFrontmatter

const posts = (await getCollection('blog')).sort(blogCompareFn)
const entryIdx = posts.findIndex((e) => e.slug == entry.slug)
const prevPost = posts[entryIdx + 1]
const nextPost = posts[entryIdx - 1]

// Set dynamic image path
const { src, alt } = entry.data.image
const remoteImgURL = await getImageURL(src)
const resultingImage = await getImage({ src: remoteImgURL, width: 1600, height: 800 })
// Update frontmatter
const frontmatter = { ...entry.data, image: { src: resultingImage.src, alt } }
---

<BaseLayout frontmatter={frontmatter} type="article">
  <article>
    <h1>{title}</h1>
    <div class="article-time">
      <time datetime={publishedAt.toISOString().slice(0, 10)}>{READABLE_FORMAT.format(publishedAt)}</time>, {
        readingTime
      }
    </div>
    <div class="tags">
      {keywords.map((s: string) => <span class="tag-article">{s}</span>)}
    </div>
    <Content />
    <div class="arrow-links">
      {prevPost && <ArrowLink title={prevPost.data.title} direction={DIRECTION.LEFT} link={`/blog/${prevPost.slug}`} />}
      {
        nextPost && (
          <ArrowLink title={nextPost.data.title} direction={DIRECTION.RIGHT} link={`/blog/${nextPost.slug}`} />
        )
      }
    </div>
  </article>
</BaseLayout>
