---
import { getCollection } from 'astro:content'
import Tags from '../../components/Tags.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { READABLE_FORMAT, blogCompareFn } from '../../lib/utils'

const props = {
  title: 'Blog - twigs and thoughts',
  publishedAt: new Date(),
  summary: 'Articles on tech, software development, design and case studies.',
  image: 'banner.png',
  imageAlt: 'Banner image with logo and "Good design is invisible" motto',
  keywords: ['blog', 'posts'],
}

const posts = await getCollection('blog')
---

<BaseLayout frontmatter={props}>
  <main class="w-full px-6 pt-8 pb-32 mx-auto xl:text-lg 2xl:text-xl max-w-prose 2xl:max-w-6xl">
    <h1>Blog posts</h1>
    {
      posts.sort(blogCompareFn).map((post) => (
        <div class="py-4">
          <p class="my-0">
            <time datetime={post.data.publishedAt.toISOString().slice(0, 10)}>
              {READABLE_FORMAT.format(post.data.publishedAt)}
            </time>
          </p>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          <p class="my-1">{post.data.summary}</p>
          <a href={`/blog/${post.slug}`} class="inline-block mt-2 cta">
            Read more
          </a>
          <div class="inline-block px-4">
            <Tags
              tags={post.data.keywords.slice(0, 3)}
              size="lg"
              class="py-1 tracking-widest bg-transparent border-2 border-current text-brand dark:text-brand-tint"
            />
          </div>
        </div>
      ))
    }
  </main>
</BaseLayout>
