---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { READABLE_FORMAT, blogCompareFn } from '../../lib/utils'

const props = {
  title: `vanntile's blog on software, career and thoughts on society`,
  publishedAt: new Date(),
  description: 'Articles on tech, software engineering, design, career and society.',
  image: { src: '/assets/banner.jpg', alt: 'Banner image with logo and text "Privacy. FOSS. Cybersecurity."' },
  keywords: [
    'tech blog',
    'software engineering',
    'software development',
    'coding',
    'privacy',
    'free open source software',
    'cybersecurity',
    'career',
    'graphic design',
  ],
}

const posts = await getCollection('blog')
---

<BaseLayout frontmatter={props}>
  <main class="blog">
    <h1>Blog posts</h1>
    {
      posts.sort(blogCompareFn).map((post) => (
        <div class="blog-post">
          <div>
            <time datetime={post.data.publishedAt.toISOString().slice(0, 10)}>
              {READABLE_FORMAT.format(post.data.publishedAt)}
            </time>
          </div>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          <p>{post.data.description}</p>
          <a href={`/blog/${post.slug}`} class="cta inline-block">
            Read more
          </a>
          <div class="blog-tags">
            <div class="tags">
              {post.data.keywords.slice(0, 3).map((s: string) => (
                <span class="tag-blog">{s}</span>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </main>
</BaseLayout>
