---
import { getCollection } from 'astro:content'
import AnimatedHeader from '../components/AnimatedHeader.astro'
import Experience from '../components/Experience.astro'
import SectionDivider from '../components/SectionDivider.astro'
import Tags from '../components/Tags.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { READABLE_FORMAT, blogCompareFn } from '../lib/utils'

const props = {
  title: 'vanntile - frontend developer and graphic designer',
  publishedAt: new Date(),
  summary:
    'Developer by choice and designer for fun. I speak the languages of both engineering and aesthetics and ' +
    'can help with your next project.',
  image: 'banner.png',
  imageAlt: 'Banner image with logo and "Good design is invisible" motto',
  keywords: ['vanntile', 'portfolio', 'developer', 'graphic designer'],
}

const latestPosts = (await getCollection('blog')).sort(blogCompareFn).slice(0, 3)

const socialMedia = (await getCollection('icons')).sort((a, b) => a.data.index - b.data.index)
---
<script>
  const options = {
    root: null,
    rootMargin: '0px',
    threshold: 0.4,
  }

  const setObserver = (target: Element | null, element: Element | null) => {
    if (!target || !element) return

    const callback: IntersectionObserverCallback = (entries, observer) => {
      if (entries[0].intersectionRatio > 0.4) element.classList.add('active')
      else element.classList.remove('active')
    }

    const observer = new IntersectionObserver(callback, options)
    observer.observe(target)
  }

  window.addEventListener('DOMContentLoaded', (_event) => {
    setObserver(document.querySelector('#section-tech'), document.querySelector('#logoSvg'))
    setObserver(document.querySelector('#section-experience'), document.querySelector('#logotypeSvg'))
  })
</script>

<BaseLayout frontmatter={props} withNav={false}>
  <main class="mx-auto w-full max-w-prose pb-32 pt-8 xl:px-6 xl:text-lg 2xl:max-w-6xl 2xl:text-xl">
    <section class="hSection flex min-h-screen flex-col justify-center px-6 py-16 text-left">
      <div>
        <header class="mb-16">
          <AnimatedHeader />
          <div class="text-xl font-semibold md:text-3xl">developer by choice and designer for fun</div>
        </header>
        <a class="sr-only" href="#section-tech">Skip to main content</a>
        <p class="md:text-lg 2xl:text-2xl">
          Are you searching for a practical enthusiast for your <span class="highlight">project</span>?
        </p>
        <p class="max-w-2xl md:text-lg 2xl:max-w-5xl 2xl:text-2xl">
          I speak the languages of both <span class="highlight">engineering and aesthetics</span>, being
          <br class="hidden md:inline-block 2xl:hidden" /> perfectly positioned to formulate the path of a feasible
          product with customer experience in mind. My preferred work is{' '}
          <span class="highlight">fullstack development</span>. I&apos;m using the best tool for the job, be it a
          reliable framework or the latest web features.
        </p>
        <p class="max-w-2xl md:text-lg 2xl:max-w-5xl 2xl:text-2xl">
          Neither impressive interfaces nor blazing performance are the solution, but the{' '}
          <span class="highlight">balance</span> between a maintainable implementation and
          <br class="hidden md:inline-block 2xl:hidden" /> user-focused functionality.
        </p>
        <div class="mt-8 flex flex-row flex-wrap gap-x-2">
          <a class="cta" href="#section-tech">techstack</a>
          <a class="cta" href="#section-experience">experience</a>
          <a class="cta" href="#section-blog">blog</a>
          <a class="cta" href="#section-contact">contact</a>
        </div>
      </div>
      <SectionDivider color="text-brand-accent" />
    </section>
    <section id="section-tech" class="hSection bg-brand-accent pb-24 pt-12 font-bold text-gray-800">
      <div class="-my-12 flex w-full flex-col items-center justify-center">
        <svg
          id="logoSvg"
          aria-hidden="true"
          focusable="false"
          class="active"
          width="210"
          height="210"
          viewBox="0 0 500 500"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M336.02 141.274L407.454 141.274L316.718 276.505C327.367 282.143 334.915 293.153 334.915 306.746V343.057C334.915 358.963 347.808 371.856 363.713 371.858L377.891 371.855L377.891 268.804C377.891 255.263 368.546 243.905 355.954 240.826L367.833 223.122C385.802 230.502 398.455 248.175 398.455 268.804L398.455 392.415L363.715 392.422C336.452 392.422 314.35 370.321 314.35 343.057V306.746C314.35 300.663 310.551 295.686 305.119 293.792L238.918 392.455L70.3828 141.274H171.759L255.855 266.608C258.389 270.138 262.498 272.404 267.135 272.404L279.402 272.404L265.625 292.935C254.613 292.46 244.945 286.805 238.998 278.388L238.926 278.287L160.793 161.839H108.945L238.918 355.546L318.589 236.808C299.968 229.743 286.733 211.737 286.733 190.639C286.733 163.402 308.792 141.317 336.02 141.274ZM307.298 190.639C307.298 204.663 317.322 216.347 330.595 218.914L368.892 161.839H336.045C320.163 161.867 307.298 174.751 307.298 190.639Z"
            class="logoSvg stroke-current text-gray-900 will-change-transform"></path>
        </svg>
      </div>
      <h2 class="text-gray-900 dark:text-gray-900">./about/tech</h2>
      <p>
        I am an in-progress computer engineer with a deep passion for the worlds of frontend, design and deployment.
        Keep scrolling if you wanna know why, how and what I work on!
      </p>
      <h3>What is my tech stack?</h3>
      <span class="block font-bold">Languages</span>
      <Tags
        tags={['JavaScript (ES2021)', 'TypeScript', 'Go ðŸ‡¬', 'Python 3 ðŸ', 'C/C++', 'Haskell Î»']}
        class="bg-gray-800 text-brand-accent"
      />
      <span class="block font-bold">Markup</span>
      <Tags tags={['JSON', 'YAML', 'HTML', 'Markdown', 'MDX']} class="bg-gray-800 text-brand-accent" />
      <span class="block font-bold">Frameworks</span>
      <Tags
        tags={[
          'Astro ðŸš€',
          'NextJS ðŸ‡³',
          'React âš›ï¸',
          'Vue ðŸ‡»',
          'Angular ðŸ›¡ï¸',
          'Tailwind CSS ðŸƒ',
          'FastAPI âš¡',
          'Express',
          'Django',
          'Flask',
          'GTK/gtkmm',
          'unified',
        ]}
        class="bg-gray-800 text-brand-accent"
      />
      <span class="block font-bold">Testing</span>
      <Tags tags={['Robot ðŸ¤–', 'Cypress', 'Jest ðŸƒ', 'JUnit']} class="bg-gray-800 text-brand-accent" />
      <span class="block font-bold">Tools</span>
      <Tags
        tags={['Deno ðŸ¦•', 'NodeJS ðŸŸ©', 'npm ðŸ“¦', 'Docker ðŸ³', 'Jenkins ðŸŽ©']}
        class="bg-gray-800 text-brand-accent"
      />
      <span class="block font-bold">Platforms</span>
      <Tags
        tags={['GitHub ðŸ™', 'GitLab ðŸ¦Š', 'Bitbucket ðŸª£', 'Heroku', 'Linode', 'Mastodon ðŸ˜']}
        class="bg-gray-800 text-brand-accent"
      />
      <span class="block font-bold">Standards &amp; paradigms</span>
      <Tags
        tags={['FOSS', 'OpenAPI', 'REST', 'GraphQL', 'semantic web', 'functional programming']}
        class="bg-gray-800 text-brand-accent"
      />
      <span class="block font-bold">Design tools &amp; knowledge</span>
      <Tags
        tags={['Inkscape', 'Figma', 'GIMP', 'SVG', 'Typography', 'Layout', 'Visual idenitities']}
        class="bg-gray-800 text-brand-accent"
      />
      <span class="block font-bold">Other snappy stuff</span>
      <Tags
        tags={['git', 'Linux', 'GNOME', 'Obsidian', 'VSCodium', 'vim', 'Jupyter', 'Prettier']}
        class="bg-gray-800 text-brand-accent"
      />
      <SectionDivider color="text-brand" />
    </section>
    <section id="section-experience" class="hSection bg-brand pb-24 text-gray-100">
      <div class="mt-12 flex w-full flex-col items-center justify-center">
        <svg
          id="logotypeSvg"
          aria-hidden="true"
          focusable="false"
          class="active"
          width="520"
          height="60"
          viewBox="480 0 800 168"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M352.064 125.96l28.871-82.58h-25.968l-20.161 64.193-20.323-64.193h-25.806l28.871 82.58h34.516zM432.388 107.896c-12.581 0-21.613-9.839-21.613-23.226 0-13.387 9.032-23.226 21.613-23.226s21.613 9.839 21.613 23.226c0 13.387-9.032 23.226-21.613 23.226zm21.774-53.065c-6.451-9.193-16.29-14.677-28.064-14.677-23.226 0-39.517 18.387-39.517 44.516 0 26.129 16.291 44.516 39.517 44.516 11.774 0 21.613-5.484 28.064-14.677v11.451h24.194V43.38h-24.194V54.83zM499.288 43.38v82.58h24.194V79.509c0-10.484 7.742-18.065 17.258-18.065 9.516 0 15.322 7.097 15.322 17.097v47.419h24.194V74.348c0-19.84-12.581-34.194-31.129-34.194-10.807 0-20.484 5.484-26.291 14.355v-11.13h-23.548zM599.622 43.38v82.58h24.194V79.509c0-10.484 7.742-18.065 17.258-18.065 9.516 0 15.322 7.097 15.322 17.097v47.419h24.194V74.348c0-19.84-12.581-34.194-31.129-34.194-10.807 0-20.484 5.484-26.291 14.355v-11.13h-23.548zM762.865 43.38v82.58h24.193V43.38h-24.193zm12.096-10.968c8.226 0 14.033-5.645 14.033-13.71 0-7.903-5.807-13.548-14.033-13.548-8.225 0-14.032 5.645-14.032 13.548 0 8.065 5.807 13.71 14.032 13.71zM809.754 6.283V125.96h24.193V6.283h-24.193zM875.934 76.928c2.097-10.968 9.516-18.226 20.162-18.226 10.967 0 19.032 7.742 20.483 18.226h-40.645zm-24.838 7.097c0 26.613 18.709 45.161 45.322 45.161 20.161 0 37.581-11.774 41.613-27.903l-21.774-3.064c-2.581 7.258-10.161 12.419-19.194 12.419-10.967 0-18.871-7.581-20.967-19.194l64.677.162c.323-1.775.323-5.162.323-7.258 0-26.13-18.065-44.194-44.517-44.194-26.612 0-45.483 18.064-45.483 43.87zM1003.48 43.38v82.58h24.19V43.38h-24.19zm12.09-10.968c8.23 0 14.03-5.645 14.03-13.71 0-7.903-5.8-13.548-14.03-13.548-8.22 0-14.03 5.645-14.03 13.548 0 8.065 5.81 13.71 14.03 13.71zM1092.62 107.896c-12.58 0-21.61-9.839-21.61-23.226 0-13.387 9.03-23.226 21.61-23.226s21.62 9.839 21.62 23.226c0 13.387-9.04 23.226-21.62 23.226zm21.78-53.065c-6.46-9.193-16.29-14.677-28.07-14.677-23.22 0-39.51 18.387-39.51 44.516 0 26.129 16.29 44.516 39.51 44.516 11.78 0 21.61-5.484 28.07-14.677v11.451h24.19V43.38h-24.19V54.83zM1159.52 43.38v82.58h24.2V79.509c0-10.484 7.74-18.065 17.25-18.065 9.52 0 15.33 7.097 15.33 17.097v47.419h24.19V74.348c0-19.84-12.58-34.194-31.13-34.194-10.81 0-20.48 5.484-26.29 14.355v-11.13h-23.55zM1261.79 43.38v82.58h24.2V43.38h-24.2zm12.1-10.968c8.22 0 14.03-5.645 14.03-13.71 0-7.903-5.81-13.548-14.03-13.548-8.23 0-14.03 5.645-14.03 13.548 0 8.065 5.8 13.71 14.03 13.71zM1411.78 40.154c-27.09 0-45.8 18.064-45.8 44.516 0 26.29 18.71 44.516 45.8 44.516 27.26 0 45.97-18.226 45.97-44.516 0-26.452-18.71-44.516-45.97-44.516zm0 67.742c-12.58 0-21.45-9.677-21.45-23.226 0-13.548 8.87-23.226 21.45-23.226 12.74 0 21.62 9.678 21.62 23.226 0 13.549-8.88 23.226-21.62 23.226zM699.963 99.186c0 17.581 10.645 30 27.097 30 5.161 0 11.612-.968 16.612-2.58v-19.517c-2.742.807-6.29 1.291-8.548 1.291-6.774 0-10.968-4.678-10.968-11.613v-35h18.71V43.38h-18.71V22.573l-24.193-.002v76.615zM1308.88 99.186c0 17.581 10.65 30 27.1 30 5.16 0 11.61-.968 16.61-2.58v-19.517c-2.74.807-6.29 1.291-8.55 1.291-6.77 0-10.97-4.678-10.97-11.613v-35h18.71V43.38h-18.71V22.573h-24.2l.01 76.613z"
            fill="currentColor"
            class="logoSvg logotypeSvg stroke-current text-gray-100 will-change-transform"></path>
        </svg>
      </div>
      <h2 class="text-gray-100 dark:text-gray-100">./about/experience</h2>
      <Experience />
      <SectionDivider color="text-white dark:text-gray-900" />
    </section>
    <section class="hSection my-16">
      <h2 id="section-blog">./blog/coding/latest</h2>
      <div>
        {
          latestPosts.map((post) => (
            <div class="py-4">
              <p class="my-0">
                <time datetime={post.data.publishedAt.toISOString().slice(0, 10)}>
                  {READABLE_FORMAT.format(post.data.publishedAt)}
                </time>
              </p>
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
              <p class="my-1">{post.data.summary}</p>
            </div>
          ))
        }
      </div>
      <div class="my-6">
        <span class="pr-4 md:text-xl">...or</span>
        <a class="cta" href="/blog">Check all blog posts</a>
      </div>
    </section>
    <section class="hSection mb-24">
      <h2 id="section-contact">./public/contact</h2>
      <p>You can find me here and there. I recommend you message me ðŸ“¨ on Mastodon or LinkedIn.</p>
      <div class="mb-8 flex flex-row flex-wrap gap-x-4 md:gap-x-8">
        {
          socialMedia.map((e) => (
            <a
              href={e.data.url}
              target="_blank"
              rel="me"
              referrerpolicy="same-origin"
              title={e.data.alt}
              class="rotateScaleUp pseudo-none h-12 w-12 rounded-full bg-transparent ring-brand-accent will-change-transform focus:outline-none focus:ring-8 dark:bg-gray-900"
            >
              <svg
                aria-hidden="true"
                focusable="false"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d={e.data.path} fill="currentColor" class="text-gray-900 dark:text-gray-100" />
              </svg>
            </a>
          ))
        }
      </div>
    </section>
  </main>
</BaseLayout>
