---
import ExperienceEntry from './ExperienceEntry.astro'
import experience from '../lib/experience.json'

const prefix: string = 'experience'
const TAB_SSH = 'SSH',
  TAB_EDUCATION = 'Education',
  TAB_AALTO = 'Aalto',
  TAB_POSTIS = 'Postis',
  TAB_GSOC = 'GSoC',
  TAB_ETSIMO = 'Etsimo',
  TAB_VOLUNTEERING = 'Volunteering'

const tabNames: string[] = [TAB_SSH, TAB_EDUCATION, TAB_AALTO, TAB_POSTIS, TAB_GSOC, TAB_ETSIMO, TAB_VOLUNTEERING]
---

<script type="module">
  const LEFT_ARROW = 37
  const RIGHT_ARROW = 39
  let idx = 0

  const setTabFocus = (tabs, tabpanels, tab) => (event) => {
    if (tab.getAttribute('aria-selected') === 'true') return

    const controlledPanel = document.querySelector(`#${tab.getAttribute('aria-controls')}`)

    idx = Array.from(tabs).findIndex((e) => e === tab)

    // Handle the tabs
    tabs.forEach((e) => {
      e.setAttribute('aria-selected', e === tab)
      e.setAttribute('tabindex', e === tab ? 0 : -1)
    })

    // Handle the tab panels
    tabpanels.forEach((e) => {
      e === controlledPanel ? e.classList.remove('hidden') : e.classList.add('hidden')
    })

    event.preventDefault()
  }

  const setKeyChange = (tabs, tab) => (event) => {
    const k = event.which || event.keyCode

    if (k == LEFT_ARROW || k == RIGHT_ARROW) {
      if (k == LEFT_ARROW) idx = idx > 0 ? idx - 1 : tabs.length - 1
      else if (k == RIGHT_ARROW) idx = (idx + 1) % tabs.length

      tabs[idx].focus()
      tabs[idx].click()
      event.preventDefault()
    }
  }

  window.addEventListener('DOMContentLoaded', (event) => {
    const prefix = 'experience'
    const tabs = document.querySelectorAll(`[aria-controls^="${prefix}-tabpanel-"]`)
    const tabpanels = document.querySelectorAll(`[id^="${prefix}-tabpanel-"]`)

    tabs.forEach((tab) => {
      tab.addEventListener('click', setTabFocus(tabs, tabpanels, tab))
      tab.addEventListener('keydown', setKeyChange(tabs))
    })

    // Hide all other tabs
    Array.from(tabpanels)
      .slice(1)
      .forEach((e) => e.classList.add('hidden'))
  })
</script>

<div class="experience">
  <ul role="tablist" aria-label="Professional experience tab list">
    {
      tabNames.map((tabName, idx) => (
        <li
          id={`${prefix}-tab-${idx}`}
          role="tab"
          tabindex={idx === 0 ? '0' : '-1'}
          aria-controls={`${prefix}-tabpanel-${idx}`}
          aria-selected={idx === 0}
          aria-setsize={tabNames.length}
          aria-posinset={idx}
        >
          {tabName}
        </li>
      ))
    }
    <div></div>
  </ul>
  <div
    id={`${prefix}-tabpanel-${tabNames.indexOf(TAB_SSH)}`}
    role="tabpanel"
    tabindex="0"
    aria-labelledby={`${prefix}-tab-${tabNames.indexOf(TAB_SSH)}`}
  >
    <ExperienceEntry {...experience.job.privx23} />
    <ExperienceEntry {...experience.job.privx22} title={null} />
    <ExperienceEntry {...experience.job.privxTrainee22} title={null} />
  </div>
  <div
    id={`${prefix}-tabpanel-${tabNames.indexOf(TAB_EDUCATION)}`}
    role="tabpanel"
    tabindex="0"
    aria-labelledby={`${prefix}-tab-${tabNames.indexOf(TAB_EDUCATION)}`}
  >
    <ExperienceEntry {...experience.education.aalto} />
    <ExperienceEntry {...experience.education.upb} />
    <ExperienceEntry {...experience.education.abo} />
  </div>
  <div
    id={`${prefix}-tabpanel-${tabNames.indexOf(TAB_AALTO)}`}
    role="tabpanel"
    tabindex="0"
    aria-labelledby={`${prefix}-tab-${tabNames.indexOf(TAB_AALTO)}`}
  >
    <ExperienceEntry {...experience.job.phoenix} />
    <ExperienceEntry {...experience.job.asci} />
  </div>
  <div
    id={`${prefix}-tabpanel-${tabNames.indexOf(TAB_POSTIS)}`}
    role="tabpanel"
    tabindex="0"
    aria-labelledby={`${prefix}-tab-${tabNames.indexOf(TAB_POSTIS)}`}
  >
    <ExperienceEntry {...experience.job.postis20} />
    <ExperienceEntry {...experience.job.postis18} title={null} />
  </div>
  <div
    id={`${prefix}-tabpanel-${tabNames.indexOf(TAB_GSOC)}`}
    role="tabpanel"
    tabindex="0"
    aria-labelledby={`${prefix}-tab-${tabNames.indexOf(TAB_GSOC)}`}
  >
    <ExperienceEntry {...experience.job.inkscape20} />
    <ExperienceEntry {...experience.job.inkscape19} title={null} />
  </div>
  <div
    id={`${prefix}-tabpanel-${tabNames.indexOf(TAB_ETSIMO)}`}
    role="tabpanel"
    tabindex="0"
    aria-labelledby={`${prefix}-tab-${tabNames.indexOf(TAB_ETSIMO)}`}
  >
    <ExperienceEntry {...experience.job.etsimo20} />
  </div>
  <div
    id={`${prefix}-tabpanel-${tabNames.indexOf(TAB_VOLUNTEERING)}`}
    role="tabpanel"
    tabindex="0"
    aria-labelledby={`${prefix}-tab-${tabNames.indexOf(TAB_VOLUNTEERING)}`}
  >
    {Object.values(experience.volunteering).map((e) => <ExperienceEntry {...e} />)}
  </div>
</div>
