---
import { type CollectionEntry, getCollection } from 'astro:content'
import Navigation from '../components/Navigation.astro'
import '../styles/global.css'

interface Props {
  frontmatter: CollectionEntry<'blog'>['data']
  withNav?: boolean
  type?: string
}

const { frontmatter, withNav = true, type = 'website' } = Astro.props as Props
const { title, publishedAt, summary, image, imageAlt, keywords } = frontmatter
const url = new URL(Astro.url.pathname, Astro.site)
const origin = url.origin

const socialMedia = (await getCollection('icons'))

const me = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: 'vanntile',
  url: Astro.site,
  image: `${Astro.site}assets/logo.svg`,
  sameAs: socialMedia.map((e) => e.data.url),
}

const blogSEO = {
  '@context': 'https://schema.org',
  '@type': 'Blog',
  url: url,
  headline: title,
  keywords: keywords,
  mainEntityOfPage: { '@type': 'WebPage', '@id': url },
  publisher: me,
  author: me,
}
---

<html lang="en" class="dark">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="canonical" href={url} />
    <meta name="robots" content="index, follow" />

    <meta name="author" content="vanntile" />
    <meta name="description" content={summary} />
    {keywords.length > 0 && <meta name="keywords" content={keywords.join(', ')} />}

    <meta property="article:published_time" content={new Date(publishedAt).toISOString()} />
    <meta property="og:type" content={type} />
    <meta property="og:site_name" content="vanntile's portfolio" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content={`${origin}/assets/${image}`} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="800" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content={`${origin}/assets/${image}`} />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="vanntile's portfolio" />
    <meta name="application-name" content="vanntile's portfolio" />
    <meta name="theme-color" content="#3429aa" />
    <meta name="color-scheme" content="dark light" />
    <link rel="preload" href="/fonts/Objectivity-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Objectivity-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

    <script is:inline set:html={JSON.stringify(blogSEO)} type="application/ld+json" />

    <script is:inline>
      window.addEventListener('DOMContentLoaded', (event) => {
        if (window.localStorage.getItem('theme') === 'light') document.querySelector('html').classList.remove('dark')
      })
    </script>
  </head>

  <body class="scrollbar overflow-x-hidden">
    {withNav && <Navigation />}
    <slot />
    <footer class="mx-auto max-w-prose border-t-2 border-brand-accent px-6 py-14 2xl:max-w-7xl">
      Designed &amp; built by <span class="font-bold text-brand-accent">vanntile</span> under <a
        href="https://choosealicense.com/licenses/mit/"
        target="_blank"
        referrerpolicy="same-origin">MIT</a
      >, content licensed under <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        target="_blank"
        referrerpolicy="same-origin">CC BY-NC-SA 4.0</a
      >
    </footer>
  </body>
</html>
