---
import { getEntryBySlug } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import NextArticle from '../components/NextArticle.astro'
import Tags from '../components/Tags.astro'
import '../styles/moonlight.css'

const frontmatter = Astro.props.frontmatter as PageMeta
const { title, publishedAt, nextArticle, keywords, readingTime } = frontmatter
const nextArticleTitle = nextArticle ? (await getEntryBySlug('blog', nextArticle))?.data.title : ''

const dateFormat = { year: 'numeric', month: 'long', day: '2-digit' } as Intl.DateTimeFormatOptions
---

<BaseLayout {...frontmatter}>
  <main class="w-full px-6 pt-8 pb-32 mx-auto xl:text-lg 2xl:text-xl max-w-prose 2xl:max-w-6xl">
    <article>
      <h1>{title}</h1>
      <div class="-mt-8 font-bold text-gray-500 dark:text-brand-secondary">
        <time datetime={publishedAt}>
          {new Intl.DateTimeFormat('en', dateFormat).format(new Date(publishedAt))}
        </time>, {readingTime}
      </div>
      <div class="py-4">
        <Tags
          tags={keywords.split(', ')}
          size="lg"
          class="tracking-wide bg-transparent border-2 border-current text-brand dark:text-brand-tint"
        />
      </div>
      <slot />
      {nextArticle && <NextArticle title={nextArticleTitle} link={nextArticle} />}
    </article>
  </main>
</BaseLayout>
